### Python ###
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.ipynb_checkpoints/
.pytest_cache/

### C++ ###
*.a
*.so
*.o

### cmake ###
cmake-build*/

# Data and results
*data*/
*.dat
*.pdf
*.png
notebooks/
