### Python ###
__pycache__/
*.py[cod]
.eggs/
*.egg-info/
build/
dist/
.ipynb_checkpoints/
.pytest_cache/
MANIFEST

### C++ ###
*.a
*.so
*.o

### cmake ###
cmake-build*/

### skbuild ###
_skbuild/

# Data and results
*data*/
*.dat
*.pdf
*.png
notebooks/
